.rubiksCube {
    top: 130px; left: 250px; width: 400px; height: 400px;
    transform-style: preserve-3d;
    position: relative;
}
.rubiksCube div {
    position: absolute;
    height: 400px;
    width: 400px;
    opacity: 0.9;
}
.face1green {
    top: 0; left: 0;
    transform: translate3d(0,0,200px); }
.face2blue {
    top: 0; left: 0;
    transform: translate3d(0,0,-200px); }
.face3yellow {
    top: 0; left: 100%;
    transform-origin: 0 0;
    transform: translate3d(0,0,200px) rotate3d(0,1,0,90deg); }
.face4red {
    top: 100%; left: 0;
    transform-origin: 0 0;
    transform: translate3d(0,0,200px) rotate3d(1,0,0,-90deg); }
.face5white {
    top: 0; right: 100%;
    transform-origin: 100% 0;
    transform: translate3d(0,0,200px) rotate3d(0,1,0,-90deg); }
.face6orange {
    bottom: 100%; left: 0;
    transform-origin: 0 100%;
    transform: translate3d(0,0,200px) rotate3d(1,0,0,90deg); }







    